[Unit]
Description=Stars pi webcam service

[Service]
ExecStart=/etc/piwebcam/init.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piwebcam
User=root
Group=root
WorkingDirectory=/etc/piwebcam

[Install]
WantedBy=basic.target
