[Unit]
Description=Stars pi webcam service

[Service]
ExecStart=/etc/systemd/system/piwebcam
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piwebcam
User=root
Group=root
WorkingDirectory=/etc/systemd/system

[Install]
WantedBy=basic.target
